@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F0F9FF;
  --foreground: #0C4A6E;
}

html {
  direction: rtl;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  * {
    @apply border-primary-100;
  }
}
